
#current_wrapper{
    max-width: 800px;
    color: white !important;
    font-weight: bolder !important;
    background-image: url('https://media.istockphoto.com/id/1409931022/photo/man-in-yellow-jacket-sitting-on-a-suspension-bridge-over-a-lake-in-olpererhutte-austria.jpg?b=1&s=612x612&w=0&k=20&c=qihMkiJL8EZXthpfhChk-kLeroIUqmExwXvcPyIutkw=');
    background-position: center;
    background-size: cover;
    display: flex;
}
#search_box{
    max-width: 770px;
    display: flex;
    flex-direction: column;
}

#search_elements{
    text-decoration: none !important;
    color: black;
}
#section{
    max-width: 800px;
    display: flex;
}
.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-top-color: #3498db;
    animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  p {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
#Hourly_inner_wrap {
    color: white;
    min-width: 150px;
    min-height: 150px;
    background-image: url('https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&w=600');
   
    background-size: cover;
    background-repeat: no-repeat;
}
#Hourly_inner_wrap:hover {
    transform: scale(1.011);
}
@media (max-width:700px){
    #current_wrapper{
        max-width: 410px;
    }
    #section{
        overflow-x: scroll;
        max-width: 410px;
    }
    #Hourly_inner_wrap{
        display: flex;
        flex-direction: column;
        min-width: 190px;
        min-height: 150px;
    }
    #weekly_whether {
        width: 410px;

    }
    #cities_wrap{
        max-width: 410px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #famousCities{
        flex-basis: 48%;
        width: 142px !important;
    }

}
#Hourly_inner_wrap{
    width: 220px;
    height: 120px;
}
#weekly_whether {
    max-width: 800px;
}
#astro{
    position: absolute;
    left: 40%;
}
#img{
    height: 60px;
    width: 60px;
    position: relative;
    left: 47%;
}
#week_wrap{
    align-items: center;
    background-image: url('https://images.pexels.com/photos/4969107/pexels-photo-4969107.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-repeat: no-repeat;
    background-size: cover;

}
#famousCities {
    width: 160px;
    height: 200px;
    z-index: 1;
}
#cities_wrap{
    text-align: center;
    max-width: 680px;
    display: flex;
    flex-wrap: wrap;
}
#famousCities{
    flex-basis: 23%;
    margin-bottom: 10px;
}
